.container {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 0 auto;
  background: #000;
}

.containerWindow__message {
  color: #fff;
}

.test {
  color: #fff;
}

.test2 {
  color: #fff;
}
